html {
   min-height: 100%;
}

body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(./img/minimalist-abstract-hexagon-colorful-a1949.jpg) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: lavender;
  min-height: 100%;
}

form {
   padding: 20px;
   margin-top: 60px;
}

form button, form h5 {
   margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
   border-bottom: 1px solid #ec407a;
   box-shadow: 0 1px 0 0 #ec407a
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

/*Navbar*/

.right.nav-menus li {
   padding: 0 15px;
}

.right.nav-menus li a {
   padding: unset;
}

/*Project/ Posts Section*/

.project-list.section .personal .card {
   margin-bottom: 0px;
}

.project-list.section .personal .card-action {
   background-color: lightblue;
   border-radius: 0 0 2px 2px;
   display: flex;
   justify-content: space-evenly;
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* === My custom css ===/ ~TODO: convert to scss*/

/*my helpers */

.m-0 {
   margin: 0!important;
}

/* weather widget */
.card-content .top-row {
   display: flex;
   line-height: 2;
}
.top-row .top-left {
   float: left;
   width: 50%;
   font-size: 10px;
}

.top-row .top-right {
   float: right;
   width: 50%;
   font-size: 10px;
   text-align: right;
}
.card .card-title.text-location {
   font-size: 10px;
}